<div class="container">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wwid %><br>
    <%= f.text_field :wwid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  
  <div class="field">
    <%= f.label :entity %><br>
    <%= f.select :entity_id, options_from_collection_for_select(Entity.all, 'id', 'name') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
