<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h3>Create a New entity</h3>
<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :spoc_wwid %><br>
    <%= f.text_area :spoc_wwid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div></div>
<%= link_to 'Back', entities_path %>
</div>
