<div class="container">

<p id="notice"><%= notice %></p>
<table class="table table-bordered" width="10">
<tr>
	
	<td>
  <strong>WWID:</strong>
  </td>
  <td>
  <%= @user.wwid %>
  </td>
  </tr>
  <tr>
<td><strong>Name:</strong></td>
<td> <%= @user.name %></td>
  </tr>
  <tr>
 <td> <strong>Email:</strong></td>
 <td> <%= @user.email %></td>
 </tr>
 <tr>
 <td> <strong>Entity</strong></td>
 <td><%= @user.entity.name %></td>
 <tr>
 <td> <strong>Admin:</strong></td>
 <td><%= @user.admin %></td>
  </tr>
</tr>
</table>

<%= link_to 'Back', users_path %> |  
<%= link_to 'Edit User',  edit_user_path %> |
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
