
<%= render "title_search_box" %>

<!-- <table id="books">
	
  <tr>
    <th><%= sort_link @search, :title, "Book Title" %></th>
    <th><%= sort_link @search, :description, "Description" %></th>
    <th><%= sort_link @search, :author, "Author" %></th>
    <th><%= sort_link @search, :ref, "Book Reference" %></th>
  </tr> -->
 <table class="table table-hover"  >
 	
<% @books.each do |book| %>
<tr >
<td   bgcolor="#e5FFFF" style="border-radius:  50px" align="center" >

	


  <!-- <div class="panel-body"> -->
    <h3 class="panel-title"><%= link_to(book.title, book) %></h3>
    
  <!-- </div> -->
  



</td>
<td width="80%">
 <!-- <div class="col-md-offset-3"> -->
<div class="panel panel-default">
  <div class="panel-heading">
  
    <h3 class="panel-title"><%= link_to(book.title, book) %></h3>
    <h5 >     - <%= book.author %></h5>
  </div>
  <div class="panel-body">
    <%= book.description %>
    
  </div>
  <div><%= book.ref %></div><div class="panel"> Tags:
  	<%= book.genre %>
  </div>
</div>
<!-- </div> -->
</td>
</tr>
<tr height="20px"></tr>
<% end %>


</table>