<div class="container">
<div class="row">
	<h3>Update the Book Request Details - Approve|Reject|Enter Issued Date|Return Date</h3>
  <div class="col-md-6 col-md-offset-3">
  	
<%= form_for(@book_request) do |f| %>
<table class="table-bordered">
  <% if @book_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_request.errors.count, "error") %> prohibited this book_request from being saved:</h2>

      <ul>
      <% @book_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<tr>
	<td>
    <%= f.label 'Book Title' %><br></td><td>
    <%=  @book_request.book.title %>
 </td>
 </tr><tr>
 	<td>
    <%= f.label 'Book Ref' %><br></td><td>
    <%= @book_request.book.ref %>
  </td>
    </tr>
  <tr>
  	<td>

    <%= f.label 'Requester WWID' %><br>
    </td><td>
    <%= @book_request.user.wwid%>
  </td>
  </tr>
  <tr><td>

    <%= f.label 'Update the Status To' %><br>
    </td>
    <td>
    <%=f.select :status, options_for_select({"Approved"=> "approved", "Rejected"=> "rejected"}, f.object.status || default_value)%>
  </td>
  </tr>
  <tr>
 <td>
    <%= f.label 'Issued date' %><br>
    </td><td>
    <%= date_field :book_request,:issue_date%>
  </td>
  </tr>
  <tr>
   <td>
    <%= f.label 'Return date' %><br></td>
    <td>
    <%=date_field :book_request,:return_date%>
  </td>
  </tr>
  <tr>
  <td>
   
   
    <%= f.hidden_field :book_id,:value=>@book_request.book.id%>
    </td>
    <td>
    <%= f.hidden_field :user_id,:value=>@book_request.user.id%>
 </td>
  </tr>
  
  
  
</table>
<div class="actions">
    <%= f.submit "Approve" ,class: 'btn btn-warning' %>
  </div> 
  <% end %>

</div></div>
<%= link_to 'Show', @book_request %> |
<%= link_to 'Back', book_requests_path %>
</div>
