<div class="container">
<h3>Book Requests</h1>

 <table class="table  table-hover" >
 	
  <thead>
    <tr>
      <th >Book Title</th>
      <th>Requester WWID</th>
     
      <th>Request Status</th>
    </tr>
  </thead>

  <tbody>
    <% @book_requests.each do |book_request| %>
    <tr >
        <td ><%= link_to book_request.book.title, book_request %></td>
         <td ><%= book_request.user.wwid %></td>
        
          <td ><%= book_request.status %></td>
      </tr>
      <!-- <tr>
        <td><%= link_to 'Show', book_request %></td>
        <td><%= link_to 'Edit', edit_book_request_path(book_request) %></td>
      </tr> -->
    <% end %>
  </tbody>
</table>

<br>
</div>
<!-- <%= link_to 'New Book request', new_book_request_path %> -->
