<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Paperback", '#', id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">

				<li>
					<%= link_to "Home", root_path %>
				</li>

				<li>
					<%= link_to "Help", '#' %>
				</li>
				<%if(user_signed_in?)%>
				<% if current_user.admin?%>
				<li>
					<%= link_to "View Book Request", book_requests_path%>
				</li>
				<li>
					<%= link_to "Add New Book", new_book_path%>
				</li>
				<%end%>

				<li>
					<%= link_to "View Books", '/books'%>
				</li>
				<li>
					<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				</li>
				<%else%>
				<li>
					<%= link_to "Log in", new_user_session_path%>
				</li>
				<%end%>
			</ul>
		</nav>
	</div>
</header>